certifi==2022.12.7
chardet==3.0.4
click==6.7
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
requests==2.19.1
urllib3==1.23
Werkzeug==0.14.1
-e git+https://github.com/ehfeng/raven-python.git@8bdd2f5f012f1b1e6575536b9e70124f16021c7b#egg=raven
